.average-training-title {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 30px;
  padding-top: 10px;
}

.average-training-tooltip {
  background: white;
  padding: 1px 12px;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  border: none;
}
