.homeContainer {
  padding: 50px 70px;

  .activity-container {
    height: 320px;
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    margin-bottom: 100px;
  }

  .small-charts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .chart-training {
      background: red;
    }

    .chart-score {
      background-color: #fbfbfb;
    }

    .chart-wrapper {
      border-radius: 5px;
      width: 258px;
      height: 263px;
    }
  }
}
